@media screen and(max-width: 750px){
    .partners{
        &__item{
            width: 50%;
            margin-bottom: 25px;
            &:last-child{
                margin: 0 auto;
            }
        }
    }
}